<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CmsGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GoogleGtag/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/OpenSearch/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AsyncConfig/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/NewsletterGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/OrderCancellation/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GiftMessageGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/OrderCancellationUi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogCustomerGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/LoginAsCustomerAdminUi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogInventoryGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Measure/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Ui/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Cms/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Csp/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Dhl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Eav/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Rss/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Tax/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Ups/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Amqp/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Cron/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Msrp/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Rule/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/User/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Usps/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Weee/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AwsS3/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Email/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Fedex/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Quote/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Sales/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Store/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Theme/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Vault/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Backup/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Bundle/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Config/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Cookie/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Deploy/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Paypal/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Review/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Robots/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Search/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Webapi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Widget/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Backend/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Captcha/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Catalog/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Contact/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Indexer/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MysqlMq/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Payment/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Reports/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Sitemap/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Swagger/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Version/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Checkout/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Customer/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Security/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Shipping/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Swatches/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Variable/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Wishlist/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Analytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Developer/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Directory/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/PageCache/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/RequireJs/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SalesRule/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/EavGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Newsletter/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Persistent/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SampleData/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SendFriend/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/TaxGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/UrlRewrite/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogRule/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GiftMessage/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Integration/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Marketplace/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Translation/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/WebapiAsync/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/WeeeGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Downloadable/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GraphQlCache/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGallery/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaStorage/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MessageQueue/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ProductAlert/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ProductVideo/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/QuoteGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/StoreGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/VaultGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Authorization/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/BundleGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogSearch/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogWidget/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CmsUrlRewrite/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Elasticsearch/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/EncryptionKey/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GoogleAdwords/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Multishipping/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/PaypalCaptcha/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/RemoteStorage/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SalesSequence/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SwaggerWebapi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AdminAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AdvancedSearch/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CurrencySymbol/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Elasticsearch6/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/Elasticsearch7/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GroupedProduct/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryUi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/QuoteAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SalesAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SalesInventory/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/WebapiSecurity/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CacheInvalidate/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CustomerGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GoogleAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GoogleOptimizer/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/InstantPurchase/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/LoginAsCustomer/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/OfflinePayments/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/OfflineShipping/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ReviewAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SwatchesGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/TaxImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/WishlistGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CardinalCommerce/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogInventory/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/DirectoryGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AdminNotification/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogUrlRewrite/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CustomerAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/LayeredNavigation/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryCmsUi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/NewRelicReporting/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/UrlRewriteGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/WishlistAnalytics/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/BundleImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CheckoutAgreements/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SwaggerWebapiAsync/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ConfigurableProduct/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GroupedImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/JwtFrameworkAdapter/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryCatalog/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ReleaseNotification/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CmsUrlRewriteGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CustomerImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryMetadata/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GroupedProductGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryCatalogUi/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AsynchronousOperations/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryRenditions/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogRuleConfigurable/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/GroupedCatalogInventory/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryIntegration/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CatalogUrlRewriteGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ConfigurableImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ConfigurableProductSales/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/DownloadableImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/SwatchesLayeredNavigation/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/ConfigurableProductGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/AdvancedPricingImportExport/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/CustomerDownloadableGraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaContentSynchronization/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGallerySynchronization/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaContentSynchronizationCms/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaGalleryCatalogIntegration/Test" />
        <option value="$PROJECT_DIR$/mage/app/code/Magento/MediaContentSynchronizationCatalog/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/DB/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Acl/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Api/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/App/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Css/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Jwt/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Url/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Xml/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Amqp/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Code/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Data/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/File/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/HTTP/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Json/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Lock/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Mail/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Math/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/View/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Async/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Cache/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Event/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Image/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Model/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Mview/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Oauth/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Setup/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Shell/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Backup/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Config/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Filter/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Locale/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Logger/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Module/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Phrase/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Search/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Stdlib/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Webapi/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Archive/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Console/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Convert/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Crontab/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/GraphQl/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Indexer/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Message/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Pricing/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Session/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Autoload/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Composer/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Profiler/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Component/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Exception/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/RequireJs/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Serialize/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Simplexml/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Translate/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Validator/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Controller/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/DataObject/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Encryption/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Filesystem/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Reflection/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Unserialize/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Interception/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/MessageQueue/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Notification/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/Authorization/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/EntityManager/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/ObjectManager/Test" />
        <option value="$PROJECT_DIR$/mage/lib/internal/Magento/Framework/TestFramework/Test" />
        <option value="$PROJECT_DIR$/mage/setup/src/Magento/Setup/Test" />
        <option value="$PROJECT_DIR$/mage/dev/tests" />
      </list>
    </option>
  </component>
</project>